@media screen and ( max-width: 1000px  )
    nav
        height: 250px
        a
            font-size: 60px
        img
            width: 100px
            height: 100px
    .home-section
        h2
            font-size: 250px
            margin-left: 30px
            padding-top: 250px
        img
            width: 600px
        p 
            font-size: 50px
            margin: 100px auto
            width: 600px
        #downarrow
            width: 100px
            height: 100px
    .skills-section
        h2    
            padding-top: 30px
            font-size: 250px
            margin-left: 30px
        .skill-graph
            width: 100%
            .graph-container
                padding: 0 30px
                .skill-group
                    justify-content: space-between
                    span
                        font-size: 50px
                    .skill-meter
                        float: right
        #downarrow
            width: 100px
            height: 100px